* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #000;
}

body {
	width: 100%;
}

header {
	display: flex;
	height: 80px;
	line-height: 80px;
	background: #000;
}

header * {
	color: #fff;
}

h3 {
	padding: 0 20px;
	cursor: pointer;
}

h3:hover {
	background-color: #333;
}

section {
	width: 100%;
}

ol {
	list-style-type: none;
	width: 25%;
	float: left;
	text-align: center;
}

li {
	padding: 124px;
	cursor: pointer;
}

#colorNm {
	display: block;
}